* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: transparent;
}

input,
textarea {
  border: none;
  outline: transparent;
}
